black==24.3.0
pymilvus==2.5.0
docx2txt==0.8
Flask==3.0.0
firebase-admin==6.5.0
flask-cors==4.0.0
google-api-python-client==2.187.0
google-auth-oauthlib==1.2.0
gunicorn==21.2.0
httpx==0.28.1
opik==1.9.84
llama-index-callbacks-opik==1.1.0
llama-index==0.12.51
llama-index-readers-google==0.6.2.post1
llama-index-retrievers-bm25==0.5.2
llama-index-vector-stores-milvus==0.4.0
numpy==2.4.1
oauth2client==4.1.3
openai==1.109.1
PyDrive==1.3.1
Pillow==10.3.0
pytesseract==0.3.10
PyMuPDF==1.24.9
pypdf==5.9.0
python-dotenv==1.0.1
